<div>
    <div>
        <h1>Welcome to Glimmer!</h1>
        <p>You have clicked the button {{count}} times.</p>
        <button id="external-event">Click</button>
    </div>
    <delete-button @isRoot={{state.isRoot}} @hasChildren={{state.hasChildren}}></delete-button>
</div>
